@model JobEditViewModel
@{
    ViewBag.Title = "Edit Job";
}

<form asp-controller="job" asp-action="edit" method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control" placeholder="">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Comments" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Comments" class="form-control" placeholder="Comments">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CompanyName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CompanyName" class="form-control" placeholder="CompanyName">
        </div>
    </div>
    @*<div class="form-group row">
            <label asp-for="Salary" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Salary" class="form-control" placeholder="Salary">
            </div>
        </div>*@

    <div class="form-group row">
        <label asp-for="Rating" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Rating" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<JobRatingEnum>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="index" asp-controller="job"
               class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>



